extends templates/base.pug

block vars
  - var isIndexPage = true

block scripts
  script(src='//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/typeit/5.10.7/typeit.min.js')

block content
  main
    include includes/main.pug

  section#introduction
    h2 会社紹介

    p 私たちは、ソフトウェアの力が社会を変えると信じています。
    p 
      | 私たちは価値の経済という大海を渡る船の一員です。
      br
      | どれだけ豪華に見える舶であっても一つ穴が空いていれば、瞬く間に沈没してしまいます。
      br
      | ビジネスのゴールを達成するためには、部分最適化ではなく全体最適化が重要です。
    p 
      | 弊社は、アジャイルソフトウェア開発を実践し、
      br
      | 俊敏で無駄のないソリューションでビジネス上の制約を発見し最適化します。
    p そして利害関係者すべてのために、私たちは誠実でありつづけます。  

    hr

    .ceo-sign
      p
        | 最高経営責任者 
        br
        | 杉江 淳

  section#service
    h2 サービス

    mixin service(icon_class, name, description)
      li.fadein
        div
          i(class=icon_class)
        h4= name
        p!= description

    ul#service-list
      +service('fas fa-code', 'ウェブサイト制作', 'ウェブサイトデザインから保守・運用までトータルでご提案します。')
      +service('fas fa-desktop', 'ソフトウェア開発', 'ビジネスを最大限まで改善する品質の高いソフトウェアを開発します。')
      +service('far fa-lightbulb', 'コンサルティング', '弊社のナレッジベースを活かしビジネスモデル・人材育成を提案します。')

  section#about
    .company-icon: i(class='fas fa-city')
    h2 企業情報

    #company-profile
      #company-data
        mixin company-data-define(term, definition)
          dt= term
          dd!= definition

        dl
          +company-data-define('社名', '合同会社オイコノミカ')
          +company-data-define('設立', '2018年5月22日')
          +company-data-define('資本金', '500,000円')
          +company-data-define('所在地', '〒467-0062<br>愛知県名古屋市瑞穂区山下通5丁目8<br>アネックス瑞穂305号室')
          +company-data-define('最高経営責任者', '杉江 淳')
          +company-data-define('関連会社', '株式会社 NEXT ARROW')

      #company-history
        mixin timeline_point(date, description)
          .timeline-point.fadein
            h3= date
            p= description

        .timeline
          +timeline_point('2018年5月', '合同会社オイコノミカを設立しました。')
          +timeline_point('2018年7月', '株式会社 NEXT ARROWと業務提携を締結しました。')
